<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Zafiro Nails </title>
</head>
<body>
     <h1>Casa de Cambio</h1>
     <h2>Dolar</h2>
     <h2>Real</h2>
     <h3>ipsum dolor sit amet consectetur, adipisicing elit. <em>Pariatur dolores commodi fugit qui perspiciatis excepturi nemo beatae omnis iure,
         debitis</em> quos autem id, nihil consequatur? Deleniti assumenda repudiandae optio dolorem!</h3>
    </body>
</html>